
body {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper {
    width: 95%;
    height: 100%t;
    background-color: white;
    
    margin-top: 1em;
    margin-bottom: 1em;

    margin-left: 20%;
}

#days {
    width: 80%;
    height: 2px;
    background-color: white;
  
    border: 0.1em solid dimgray;
    
}

#calender {
    width: 45.6em;
    height: 70%;
    float: left;
    margin:1em;
    margin-left: 110px;
    margin-top: 5px;
    border: 0.1em solid dimgray;
    background-color: lightslategray;
 
    
}

.calenderDay {
    width: 6em;
    height: 6em;
    border: 0.1em solid white; 
    float:left;
     background-color: white;
     margin: 2px;
}

.calenderDay p {
    width: 100%;
    margin-top: 0;
    height: 25px;
    font-size: 15px;
    background: linear-gradient(lightgray, white);
 border-bottom: 1px gray solid;
    
     
}

.calenderDay:hover {
    background-color: lightgray;
} 

.dayPlans {
    width: 100%;
    height: 6em;
    border: black solid 1px;
} 

#header {
    width: 46em;
    margin-left: 110px;
    margin-top: 40px;
    background-color: steelblue;
   position: relative;
}

h1 {
 color: white;
  font-size: 25px;
text-align: center;
}


#divForm {
position:absolute;
left:40%;
top:17%;
margin-left:-202px;
background-color: lightblue;
border: solid lightsteelblue 5px;
width:50%;
height: 50%;
display: none;
}

#closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    font-size: 15px;
    padding: 0;
   border: none;
   background-color: white;

}

.selectedDay {
    background-color: lightsteelblue;
}
.selectedDay > span{
    background-color: white;
}

#arrow-left, #arrow-right {
    font-size: 23px;
    color: white;
    position: absolute;
    top: 0em;
    font-weight: 900;
    background-color: steelblue;
    border:none;
    }

#arrow-left {
    left: 3px;
}

#arrow-right {
    right:3px;
}

#textDiv {
    font-size: 10px;
    padding-top:0;
    margin-top:0;
    line-height: 1;
    position: relative;
}

.closeBtn {
    width:10px;
    height: 12px;
    position: absolute;
    top:2px;
    right:9px;
    font-size: 15px;
    text-align: center;
     background-color:inherit;
     border:none;
     color: white;
    }
    .closeBtn:hover {
        color: black;
        right:10px;
    }